<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="bestbuy.com.testcases.DummyPaymentTestCase"/>
      <class name="bestbuy.com.testcases.CreateAccountTestCase"/>
      <class name="bestbuy.com.testcases.SearchAnItemFromByDeptTestCase"/>
      <class name="bestbuy.com.testcases.CheckoutPageTest"/>
      <class name="bestbuy.com.testcases.SelectCountryUSATestCase"/>
      <class name="bestbuy.com.testcases.SignInTestCase"/>
      <class name="bestbuy.com.testcases.BottomLinkValidateTestCase"/>
      <class name="bestbuy.com.testcases.SearchAnItemTestCase"/>
      <class name="bestbuy.com.testcases.AllMenuTitleValidationTestCase"/>
      <class name="bestbuy.com.testcases.SearchAnItemFromShopByBrandsTestCase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
